#banner {
  background-color: white;
  border: 1px solid lab(90.952 0 -0.0000119209);
  border-radius: calc(0.625rem - 2px);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 2rem 1rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(300px);

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  transition: all 500ms ease-in-out;
}

#banner.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

#container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

button {
  background-color: white;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: calc(0.625rem - 2px);
  outline: none;
  font-size: 14px;

  transition: all 300ms ease-in-out;
}

button:hover {
  background-color: oklch(0.93 0 0);
}

button[data-close] {
  width: 36px;
  height: 36px;
  border: 1px solid oklch(0.93 0 0);
}

button[data-accept],
button[data-reject] {
  padding: 0.5rem 1rem;
  background-color: oklch(27.54% 0.1291 308.93deg);
  color: oklch(78.57% 0.1552 85.32deg);
  border: none;

  &:hover {
    background-color: color-mix(
      in oklch,
      oklch(27.54% 0.1291 308.93deg) 90%,
      transparent
    );
  }
}
